.background-div .wheels-img-div .wheel-pic-info-parent {
  max-width: 400px;
  text-align: center;
  font-size: 17px;
  min-height: 450px;
  padding: 50px;
}

.background-div .wheels-img-div .wheel-pic-info-parent-selected {
  background-image: url("./../Assets/wheel-bg.jpg");
  max-width: 400px;
  text-align: center;
  font-size: 17px;
  min-height: 450px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  animation: breath 4s linear infinite;
  transform: 0.3s ease-in-out;
}

@keyframes breath {
  0% {
    background-size: 100% auto;
  }

  50% {
    background-size: 140% auto;
  }

  100% {
    background-size: 100% auto;
  }
}

.background-div .wheels-img-div .wheel-pic-info-parent-selected .rotate {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.background-div .wheels-img-div .wheel-pic-info-parent-selected .wheel-info-1,
.background-div .wheels-img-div .wheel-pic-info-parent .wheel-info-1 {
  font-weight: 600;
  padding: 2px;
}

.background-div .wheels-img-div .wheel-pic-info-parent-selected .wheel-info-2,
.background-div .wheels-img-div .wheel-pic-info-parent .wheel-info-2 {
  max-width: 400px;
  padding: 2px;
  font-weight: 400;
}

.background-div .wheels-img-div .wheel-pic-info-parent-selected .wheel-name,
.background-div .wheels-img-div .wheel-pic-info-parent .wheel-name {
  font-weight: 600;
  padding: 4px;
}
